@model GroupUserViewModel

@if (Model.IsUserSignedIn) {
    @if (Model.IsUserMember) {
        <a href="#" class="btn btn-danger float-right" onclick="ManageUserGroupMembership()" id="register-group-button">Abandonar este Grupo</a>
        @if (Model.IsUserGroupCoordinator()) {
            <a href="#" class="btn btn-info float-left" onclick="ManageUserGroupMembership()" id="register-group-button">Crear Evento</a>
        }
    }
    else {
        <a href="#" class="btn btn-info float-right" onclick="ManageUserGroupMembership()" id="register-group-button">Unirse a este Grupo</a>
    }
}






