@model List<ApplicationUser>

@if (Model != null && Model.Any()) {
    <div class="card-deck">
        @foreach (ApplicationUser attendee in Model) {
            <div class="card mt-2" style="max-width: 20rem; min-width: 20rem;">
                <div class="card-body">
                    <img src="~/img/usuario.png" class="float-left rounded-circle" height="64" width="64">
                    <div class="message">
                        <h5 class="card-title">@attendee.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@attendee.Surname</h6>
                        <p class="card-text">Miembro</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else {
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-header"><span class="badge badge-warning float-right">Sin asistentes!!</span></div>
                <div class="card-body">No hay asistentes en este evento..</div>
            </div>
        </div>
    </div>
}
