@model MyMeetUp.Web.Models.Event

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="mt-4 mb-2 shadow p-3 bg-white rounded">
                <h2><span><i class="fa fa-file-text"></i></span> Edición Nuevo Evento</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-controller="Events" asp-action="Create" asp-antiforgery="true" method="post" class="form-horizontal">
                <div class="card">
                    <div class="card-header">Grupo <strong>Dotnetters</strong></div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Título</strong></label>
                            <div class="col-md-9">
                                <input asp-for="Title" class="form-control" placeholder="Importante pensar en algo con gancho..">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Descripción / Detalles</strong></label>
                            <div class="col-md-9">
                                <textarea asp-for="Description" class="form-control" rows="9" placeholder="Describa aquí todos los detalles del evento.."></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Fecha / Hora</strong></label>
                            <div class="col-md-5">
                                <input asp-for="FechaHora" class="form-control" id="date-input" type="date" placeholder=""><span class="help-block"></span>
                                <span asp-validation-for="FechaHora" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Dirección</strong></label>
                            <div class="col-md-9">
                                <input asp-for="Address" class="form-control" placeholder=""><span class="help-block"></span>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Ciudad</strong></label>
                            <div class="col-md-9">
                                <input asp-for="City" class="form-control" placeholder=""><span class="help-block"></span>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>País</strong></label>
                            <div class="col-md-9">
                                <input asp-for="Country" class="form-control" placeholder=""><span class="help-block"></span>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Categoría</strong></label>
                            <div class="col-md-9">
                                <select asp-for="EventCategoryId" class="form-control" asp-items="ViewBag.EventCategoryId"></select>
                            </div>
                        </div>
                        <div>
                            <input asp-for="GroupId" type="hidden" value="@ViewData["GroupId"]" />
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-info float-right"> Crear Evento</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}
