@model MyMeetUp.Web.ViewModels.GroupCreateViewModel

@{
    ViewData["Title"] = "Nuevo Grupo";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="mt-4 mb-2 shadow p-3 bg-white rounded">
                <h2><span><i class="fa fa-cube"></i></span> Edición Nuevo Grupo</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-controller="Groups" asp-action="Create" asp-antiforgery="true" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Nombre</strong></label>
                            <div class="col-md-9">
                                <input asp-for="GroupInfo.Name" class="form-control" placeholder="Un nombre adecuado es importante..">
                                <span asp-validation-for="GroupInfo.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Sobre Nosotros..</strong></label>
                            <div class="col-md-9">
                                <textarea asp-for="GroupInfo.AboutUs" class="form-control" rows="9" placeholder="Incluya aquí información descriptiva del grupo.."></textarea>
                                <span asp-validation-for="GroupInfo.AboutUs" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Ciudad</strong></label>
                            <div class="col-md-9">
                                <input asp-for="GroupInfo.City" class="form-control" placeholder=""><span class="help-block"></span>
                                <span asp-validation-for="GroupInfo.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>País</strong></label>
                            <div class="col-md-9">
                                <input asp-for="GroupInfo.Country" class="form-control" placeholder=""><span class="help-block"></span>
                                <span asp-validation-for="GroupInfo.Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"><strong>Categorías</strong></label>
                            <div class="col-md-9">
                                <select asp-for="GroupCategoriesSelected" asp-items="Model.GroupCategoriesList" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input"><strong>Imagén Grupo</strong></label>
                            <div class="col-md-9">
                                <input asp-for="GroupImage" type="file">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info float-right"> Crear Grupo</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
