@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="homeCarousel" class="carousel slide border border-dark carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/LandPage/Carousel/Carrusel_1.jpg" class="d-block w-100" alt="Amigos" height="400">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="h3-responsive">Descubre el mundo a tu alrededor</h3>
                <p>Únete a grupos afines a tus intereses y aficiones</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/LandPage/Carousel/Carrusel_2.jpg" class="d-block w-100" alt="Intereses" height="400">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="h3-responsive">Contacta, conoce, descubre!</h3>
                <p>Vive nuevas experiencias con personas que tienes muy cerca..</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/LandPage/Carousel/Carrusel_3.jpg" class="d-block w-100" alt="Grupos" height="400">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="h3-responsive">Únete a MyMeetUp</h3>
                <p>Es grátis y verás que vale la pena el esfuerzo..</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="container-fluid" style="margin-bottom: 20px; margin-top: 60px;">
    <div>
        <h2>Grupos destacados</h2>
        <span>Encuentra grupos que se reúnen para hacer cosas que les gusta..</span>
    </div>
    <div class="row" style="border-bottom-width: 1px; margin-bottom: 20px; margin-top: 20px;">
        <div class="card-deck">
            @foreach (Group group in Model.Groups) {
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <img src="~/img/LandPage/Groups/Group.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@group.Name</h5>
                        <p class="card-text">@group.AboutUs</p>
                        <p class="card-text"><small class="text-muted">@($"{group.Country} / {group.City}") </small></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom: 20px; margin-top: 60px;">
    <div>
        <h2>Categorías</h2>
        <span>Explora grupos de temas en los que estés interesado..</span>
    </div>
    <div class="row" style="border-bottom-width: 1px; margin-bottom: 20px; margin-top: 20px;">
        <div class="card-deck">
            @foreach (GroupCategory groupCategory in Model.GroupCategories) {
                <div class="card mb-3" style="max-width: 15rem;">
                    <div class="card-header text-center">
                        @groupCategory.Name
                    </div>
                    <div class="card-body">
                        <img src="~/img/LandPage/Groups/Group.png" class="card-img-top" alt="...">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
